.app-bar{
    box-shadow: 0.1rem 0.5rem 0.75rem black;
    background-color:black;
    position: sticky;
    top: 0rem;
    z-index: 2;
}

.img-header{
    width: 8vw;
}
.navBar{
    width: 100%;
    list-style: none;
    display: flex;
    background-color: black;
}

.navBar li {

    padding: 0.5rem;
    margin: 1rem;
}

.navBar ul{

    display: flex;
    list-style: none;
}

.link {
    text-decoration: none;
    color: #9c27b0;
}

.linkHome{
    text-align: center;
    text-decoration: none;
}
